@page
@model TestModel
@{
ViewData["Title"] = "Pass-checker";
}
<h2 class="page-title">@ViewData["Title"]</h2>
<div class="tab-block">
  <div class="tab-control">
    <div class="tab-control__list" id="tab-control-list">
      <div class="tab-control__item tab-control__item_current">FTP</div>
    </div>
    <div class="tab-control-content" id="tab-control-content">
      <div class="tab-control__inside tab-control__inside_current">
        <div class="checker-tools">
          <form class="checker-tools__form" method="post">
            <div class="checker-tools__form-input-container">
              <div class="input-container">
                <div class="input-container__name">
                  Host name:
                </div>
                <input type="text" name="HostName" class="input-container__input" />
              </div>
            </div>
            <div class="checker-tools__form-input-container checker-tools__form-input-container_small">
              <div class="input-container">
                <div class="input-container__name">
                  Port:
                </div>
                <input type="number" name="Port" class="input-container__input" />
              </div>
            </div>
            <div class="checker-tools__form-input-container">
              <div class="input-container">
                <div class="input-container__name">
                  User name:
                </div>
                <input type="text" name="Login" class="input-container__input" />
              </div>
            </div>
            <div class="checker-tools__form-input-container">
              <div class="input-container">
                <div class="input-container__name">
                  Password:
                </div>
                <input type="text" name="Password" class="input-container__input" />
              </div>
            </div>
            <div class="checker-tools__submit-container">
              <div class="checker-tools__submit-button">
                <input type="submit" value="Проверить" />
              </div>
            </div>
          </form>
          <div class="checker-tools__checking-results">
            <div class="checker-tools__icon"></div>
            <div class="checker-tools__text">@Model.Result</div>
          </div>
        </div>
      </div>
      <div class="tab-control__info">
        <div class="info-text">
          <div class="info-text__to-copy">
            <div id="item-to-copy"> @Model.StringToCopy </div>
            <div class="info-text__copy-button">
            </div>
          </div>
          <div class="info-text__explanation">
            @Model.Explanation
          </div>
        </div>
      </div>
    </div>
  </div>
</div>